@import controllers.$package$.routes
@import models.LocalReferenceNumber
@import viewModels.components.InputTextViewModel._
@import views.html.components.{Button, ErrorSummary, InputText}

@this(
    mainTemplate: MainTemplate,
    formHelper: FormWithCSRF,
    inputText: InputText,
    errorSummary: ErrorSummary,
    button: Button
)

@(form: Form[String], lrn: LocalReferenceNumber, mode: Mode)(implicit request: Request[_], messages: Messages)

@mainTemplate(
    title = messages("$package$.$className;format="decap"$.title"),
    showBackLink = true,
    lrn = Some(lrn)
) {

    @formHelper(action = routes.$className$Controller.onSubmit(lrn, mode), Symbol("autoComplete") -> "off") {

        @errorSummary(form.errors)

        @inputText(
            field = form("value"),
            inputTextType = OrdinaryTextInput(
                heading = messages("$package$.$className;format="decap"$.heading")
            ),
            inputClass = InputSize.Width20
        )

        @button(attributes = Map("id" -> "submit"))
    }
}