@import controllers.$package$.routes
@import models.LocalReferenceNumber
@import models.reference.$referenceClass$
@import models.Selectable
@import models.Selectable._
@import uk.gov.hmrc.govukfrontend.views.html.components.implicits._
@import viewmodels.components.InputSelectViewModel._
@import views.html.components.{Button, ErrorSummary, InputSelect}

@this(
    mainTemplate: MainTemplate,
    formHelper: FormWithCSRF,
    inputSelect: InputSelect,
    errorSummary: ErrorSummary,
    button: Button
)

@(form: Form[$referenceClass$], lrn: LocalReferenceNumber, $referenceClassPlural;format="decap"$: Seq[$referenceClass$], mode: Mode)(implicit request: Request[_], messages: Messages)

@mainTemplate(
    title = messages("$package$.$className;format="decap"$.title"),
    showBackLink = true,
    lrn = lrn
) {

    @formHelper(action = routes.$className;format="cap"$Controller.onSubmit(lrn, mode), Symbol("autoComplete") -> "off") {

        @errorSummary(form.errors)

        @inputSelect(
            field = form("value"),
            selectType = OrdinarySelect(
                heading = messages("$package$.$className;format="decap"$.heading")
            ),
            hint = Some(messages("$package$.$className;format="decap"$.hint")),
            selectItems = $referenceClassPlural;format="decap"$.toSelectItems(form.value),
            placeholder = messages("$package$.$className;format="decap"$.placeholder")
        )

        @button(attributes = Map("id" -> "submit"))
    }
}