{% macro summarySection(sectionTitle, sections) %}

    {% if sectionTitle %}
        <h2 class="govuk-heading-m">{{ sectionTitle }}</h2>
    {% endif %}

    <div class="govuk-summary-sectionRows__row">
        <dl class="govuk-summary-list govuk-summary-list govuk-!-margin-bottom-9">
            {% for section in sections %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value govuk-!-width-one-half">
                        {% switch section.status %}
                            {% case "completed" %}
                                <a class="govuk-link" href={{ section.href }}>{{ messages(section.name, messages("site.taskList.edit")) }}</a>
                            {% case "cannotStartYet" %}
                                <p class="govuk-body">{{ messages(section.name + ".cannotStart") }}</p>
                            {% default %}
                                <a class="govuk-link" href={{ section.href }}>{{ messages(section.name, messages("site.taskList.add")) }}</a>
                        {% endswitch %}
                    </dt>

                    <dd class="govuk-summary-list__actions">
                        {{ messages("site." + section.status) }}
                    </dd>
                </div>
            {% endfor %}
        </dl>
    </div>

{% endmacro %}
