{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/select/macro.njk"        import govukSelect %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("dangerousGoodsCode.title"), form.errors) }}
{% endblock %}

{% block pageHead %}
  <!--[if gt IE 8]><!-->
  <link href="{{ routes.controllers.Assets.versioned("stylesheets/accessible-autocomplete.min.css").url }}" media="screen" rel="stylesheet" type="text/css" />
  <!--<![endif]-->
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ routes.controllers.addItems.securityDetails.DangerousGoodsCodeController.onSubmit(lrn, index, mode).url }}" method="post">
        <span class="govuk-caption-xl">{{messages('items.preHeading')}}</span>

          {{ csrf() | safe }}

          {{ govukSelect({
              label: {
                text: messages("dangerousGoodsCode.heading"),
                isPageHeading: true,
                classes: "govuk-label--xl"
              },
              classes: "govuk-input--width-20 autocomplete",
              id: "value",
              name: "value",
              errorMessage: form.value.error,
              items: dangerousGoodsCodes
          }) }}

          {{ govukButton({
            text: messages("site.continue"),
            attributes: {id:"submit"}
          }) }}

        </form>

      </div>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script src="{{ routes.controllers.Assets.versioned("javascripts/accessible-autocomplete.js").url }}"></script>
{% endblock %}
