@import controllers.$package$.routes
@import models.LocalReferenceNumber
@import views.html.components.{Button, ErrorSummary, InputDynamicAddress}

@this(
    mainTemplate: MainTemplate,
    formHelper: FormWithCSRF,
    inputAddress: InputDynamicAddress,
    errorSummary: ErrorSummary,
    button: Button
)

@(
    form: Form[DynamicAddress],
    lrn: LocalReferenceNumber,
    mode: Mode,
    name: String,
    isPostalCodeRequired: Boolean
)(implicit request: Request[?], messages: Messages)

@mainTemplate(
    title = messages("$package$.$className;format="decap"$.title"),
    showBackLink = true,
    lrn = Some(lrn)
) {

    @formHelper(action = routes.$className$Controller.onSubmit(lrn, mode), Symbol("autoComplete") -> "off") {

        @errorSummary(form.errors)

        @inputAddress(
            form = form,
            messageKeyPrefix = "$package$.$className;format="decap"$",
            caption = None,
            isPostalCodeRequired = isPostalCodeRequired,
            headingArgs = name
        )

        @button(attributes = Map("id" -> "submit"))
    }
}
