{% extends "includes/layout.njk" %}

{% from "macros/title.njk" import title %}

{% block pageTitle %}
  {{ title(pageTitle) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

        <p class="govuk-body">
          {{ messages("concurrent.remove.error.paragraph") }}
        </p>
        <p class="govuk-body">
           <a class="govuk-link" href="{{ redirectLink }}"> {{ linkText }}</a>
        </p>


  </div>
{% endblock %}