{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/date-input/macro.njk"    import govukDateInput %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}
{% from "govuk/components/fieldset/macro.njk"      import govukFieldset %}

{% block pageTitle %}
  {{ title(messages("controlResultDateLimit.title"), form.errors) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <span class="govuk-caption-xl">{{ messages('goodsSummary.preHeading') }}</span>

        <form action="{{ routes.controllers.goodsSummary.ControlResultDateLimitController.onSubmit(lrn, mode).url }}" method="post">

          {% call govukFieldset({
            legend: {
              text: messages("controlResultDateLimit.heading"),
              classes: "govuk-fieldset__legend--xl",
              isPageHeading: true
            }
          }) %}

          <p class = "govuk-body">{{ messages('controlResultDateLimit.paragraph1') }}</p>
          <p class = "govuk-body">{{ messages('controlResultDateLimit.paragraph2') }}
            <a href={{ config.contactUrl }} class="govuk-link" target="_blank" rel="noopener noreferrer"> {{ messages("technicalDifficulties.contact.link") }}</a>.
          </p>

          {{ csrf() | safe }}

          {{ govukDateInput({
            hint: {
              text: messages('controlResultDateLimit.hint')
            },
            errorMessage: date.error,
            items: date.items
          }) }}

          {{ govukButton({
            text: messages("site.continue"),
            attributes: {id:"submit"}
          }) }}

          {% endcall %}
        </form>

      </div>
    </div>
  </div>

{% endblock %}
