{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "macros/summarySection.njk"                import summarySection as summarySectionMacro %}
{% from "govuk/components/button/macro.njk"        import govukButton %}

{% block pageTitle %}
    {{ title(messages("declarationSummary.title")) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <span class="govuk-caption-xl">{{ lrn }}</span>

                <h1 class="govuk-heading-xl">
                    {{ messages("declarationSummary.heading") }}
                </h1>

                {{ summarySectionMacro(messages("declarationSummary.departureDetails"), sections) }}

                {% if isDeclarationComplete %}
                    <form action="{{ onSubmitUrl }}" method="post">
                        {{ csrf() | safe }}

                        <h2 class="govuk-heading-m">{{ messages("declarationSummary.submissionSubheader") }}</h2>

                        <p class="govuk-body">
                            {{ messages("declarationSummary.submissionHonestyPledge") }}
                        </p>

                        {{ govukButton({
                            text: messages("declarationSummary.confirmAndSend"),
                            preventDoubleClick: true,
                            attributes: {id: "submit"}
                        }) }}
                    </form>
                {% endif %}

                <p class="govuk-body"><a href={{backToTransitMovements}} class="govuk-link">{{ messages("declarationSummary.backToTransitMovements")}}</a></p>

            </div>
        </div>
    </div>

{% endblock %}
