{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "macros/title.njk"                         import title %}
{% from "macros/section.njk"                       import section as sectionMacro %}

{% block pageTitle %}
  {{ title(messages("declarationRejection.title")) }}
{% endblock %}

{% block mainContent %}

{{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("declarationRejection.heading") }}
        </h1>

        {% for section in detailsSection %}
          {{ sectionMacro(section.sectionTitle, section.rows, section.addAnother) }}
        {% endfor %}

        <h2 class="govuk-heading-m">
          {{ messages("declarationRejection.rejectionDetails") }}
        </h2>

        {% for section in errorsSection %}
          {{ sectionMacro(section.sectionTitle, section.rows, section.addAnother) }}
        {% endfor %}

        <p class="govuk-body">
            {{ messages("declarationRejection.review") }} <a href={{ departureUrl }} class="govuk-link">{{ messages("declarationRejection.newDeparture") }}</a>.
        </p>

        <p class="govuk-body">
            {{ messages("declarationRejection.youCan") }} <a href={{ contactUrl }} class="govuk-link" target="_blank" rel="noopener noreferrer">{{ messages("declarationRejection.contact") }}</a>.
        </p>
      </div>
    </div>
  </div>

{% endblock %}
