{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "macros/hmrc-input--currency/macro.njk"    import hmrcInputCurrency %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("liabilityAmount.title"), form.errors) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ routes.controllers.guaranteeDetails.OtherReferenceLiabilityAmountController.onSubmit(lrn, index, mode).url }}" method="post">

          <span class="govuk-caption-xl">{{ messages('guaranteeDetails.preHeading') }}</span>

          {{ csrf() | safe }}

          {{ hmrcInputCurrency({
            label: messages('liabilityAmount.heading'),
            hint: messages('liabilityAmount.paragraph'),
            name: "value",
            id: "value",
            value: form.value.value,
            classes: "govuk-input--width-10",
            autocomplete: "off",
            errorMessage: form.value.error
          }) }}

          {{ govukButton({
            text: messages("site.continue"),
            attributes: {id: "submit"}
          }) }}

        </form>

      </div>
    </div>
  </div>

{% endblock %}
