{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk"  import govukSummaryList %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(pageTitle, form.errors) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}
        <form action="{{ routes.controllers.goodsSummary.SealsInformationController.onSubmit(lrn, mode).url }}" method="post">
        <span class="govuk-caption-xl">{{messages('goodsSummary.preHeading')}}</span>

          {{ csrf() | safe }}

          <h1 class="govuk-heading-xl">{{ heading }}</h1>

             {{ govukSummaryList({
                      classes: 'govuk-!-margin-bottom-9 ctc-add-to-a-list',
                      rows: seals
                  }) }}

        {% if allowMoreSeals %}
          {{ govukRadios({
            name: 'value',
            classes: "govuk-radios--inline",
            fieldset: {
              legend: {
                text: messages('sealsInformation.radio.label'),
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
                }
            },
            items: radios,
            errorMessage: form.value.error
          }) }}

        {% else %}
          <p class="govuk-body" data-testId="maxLimit"> {{ messages('maximumSealsInformation.paragraph') }} </p>

        {% endif %}

          {{ govukButton({
            text: messages("site.continue"),
            attributes: {id:"submit"}
          }) }}


        </form>

      </div>
    </div>
  </div>

{% endblock %}
