{% extends "includes/layout.njk" %}routeDetails
routeDetails

{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "macros/title.njk"                         import title %}
{% from "macros/section.njk"                       import section as sectionMacro %}

{% block pageTitle %}
  {{ title(messages("traderDetailsCheckYourAnswers.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">

         <span class="govuk-caption-xl">{{messages('traderDetails.preHeading')}}</span>
          {{ messages("traderDetailsCheckYourAnswers.heading") }}

        </h1>

        {{ csrf() | safe }}

        {% for section in sections %}
             {{ sectionMacro(section.sectionTitle, section.rows) }}
        {% endfor %}

            {{ csrf() | safe }}

         {{ govukButton({
              text: messages("site.continue"),
              preventDoubleClick: true,
              href: nextPageUrl,
              attributes: {id:"submit"}
            }) }}

      </div>
    </div>
  </div>

{% endblock %}
