// ******************************************************
// ******************************************************
// hide back link if no js is enabled as link is js powered
// ******************************************************
// ******************************************************
.govuk-back-link {
  display: none;
}

.js-enabled .govuk-back-link {
  display: inline-block;
}

// ******************************************************
// ******************************************************
// move back link and lang switcher alongside each other
// ******************************************************
// ******************************************************
.lang {
  float: right;
}

@media screen and (max-width: 40.0624em) {
  .govuk-main-wrapper {
    padding-top: 40px;
  }
}

// clear float back link
.govuk-back-link+.govuk-main-wrapper {
  clear: both;
}

// ******************************************************
// ******************************************************
// make back link border and arrow scale with text
// bottom border has to be above 1px to trigger render on older iOS
// ******************************************************
// ******************************************************
.govuk-back-link {
  border-bottom-width: 0.075em;
  padding-left: 0.91em;
}

// make numbers easier to read
@supports (font-variant-numeric: tabular-nums) {

  table,
  input,
  .ctc-format-ref {
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant-numeric: tabular-nums;
  }
}