@import uk.gov.hmrc.hmrcfrontend.views.Implicits.RichDateInput
@import viewModels.components.InputDateViewModel
@import viewModels.components.InputDateViewModel._
@import views.html.components.Heading

@this(
    govukDateInput: GovukDateInput,
    hmrcHeading: Heading
)

@(
    field: Field,
    dateType: InputDateViewModel,
    hint: Option[String] = None
)(implicit messages: Messages)

@dateInput = @{
    DateInput(
        fieldset = None,
        id = field.id,
        hint = hint.map(hint => Hint(content = Text(messages(hint))))
    ).withDayMonthYearWithErrorAsHtml(field)
}

@dateType match {
    case OrdinaryDateInput(heading, caption) => {
        @govukDateInput(dateInput.copy(fieldset = Some(Fieldset().withHeadingAndCaption(messages(heading), caption))))
    }
    case x @ DateInputWithAdditionalHtml(heading, caption, additionalHtml) => {
        @hmrcHeading(heading, caption, Some(x.headingClasses))
        @additionalHtml
        @govukDateInput(dateInput.copy(fieldset = Some(Fieldset(legend = Some(Legend(content = Text(heading), isPageHeading = false, classes = "govuk-visually-hidden"))))))
    }
}